body{
  background-color: #F5F5F5;
}
h1{
  color:#66BFBF;
  text-decoration: underline;
  text-shadow: 2px 2px 2px #CA965C;
}
h3{
  color:#66BFBF;
  text-shadow: 0 2px orange;
}
h2
{
    color:#66BFBF;
}
hr{
  border-style: none;
  border-top-style:dotted;
  border-color: grey;
  border-width:10px;
  width: 10%;

}
g:hover{
  background-color:#8E806A;
  transform:rotate(-5deg);
}
.lopa:hover
{
  font-size: 50px;
}
.import:hover
{
  color: #CA965C;
}
